USE [master]
GO
/****** Object:  Database [Cespedes.Dylan.Parcial]    Script Date: 02/07/2024 23:41:40 ******/
CREATE DATABASE [Cespedes.Dylan.Parcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cespedes.Dylan.Parcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cespedes.Dylan.Parcial.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cespedes.Dylan.Parcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cespedes.Dylan.Parcial_log.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cespedes.Dylan.Parcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cespedes.Dylan.Parcial]
GO
/****** Object:  Table [dbo].[DiscoDuro]    Script Date: 02/07/2024 23:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoDuro](
	[id] [int] NOT NULL,
	[tipoMarca] [varchar](50) NOT NULL,
	[tamanio] [varchar](50) NOT NULL,
	[capacidad] [varchar](50) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[fechaCreacion] [date] NULL,
 CONSTRAINT [PK_DiscoDuro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscoDuros]    Script Date: 02/07/2024 23:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscoDuros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoMarca] [nvarchar](50) NULL,
	[tamanio] [varchar](50) NULL,
	[capacidad] [varchar](50) NULL,
	[color] [varchar](50) NULL,
	[fechaCreacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemoriaRAM]    Script Date: 02/07/2024 23:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemoriaRAM](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[velocidad] [int] NULL,
	[colorMemoria] [varchar](50) NULL,
	[marcaMemoria] [varchar](50) NULL,
	[fechaCreacionMemoria] [date] NULL,
	[capacidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaGrafica]    Script Date: 02/07/2024 23:41:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaGrafica](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marcaTarjeta] [varchar](50) NULL,
	[serieNvidia] [varchar](50) NULL,
	[modelo] [int] NULL,
	[tamanioMemoria] [int] NULL,
	[fechaCreacionTarjeta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DiscoDuro] ([id], [tipoMarca], [tamanio], [capacidad], [color], [fechaCreacion]) VALUES (1, N'0', N'2,0', N'40GB', N'0', CAST(N'2016-02-10' AS Date))
INSERT [dbo].[DiscoDuro] ([id], [tipoMarca], [tamanio], [capacidad], [color], [fechaCreacion]) VALUES (2, N'2', N'2,4', N'40GB', N'1', CAST(N'2023-05-25' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DiscoDuros] ON 

INSERT [dbo].[DiscoDuros] ([id], [tipoMarca], [tamanio], [capacidad], [color], [fechaCreacion]) VALUES (2, N'1', N'2,1', N'23GB', N'2', CAST(N'2021-12-23' AS Date))
SET IDENTITY_INSERT [dbo].[DiscoDuros] OFF
GO
SET IDENTITY_INSERT [dbo].[MemoriaRAM] ON 

INSERT [dbo].[MemoriaRAM] ([id], [velocidad], [colorMemoria], [marcaMemoria], [fechaCreacionMemoria], [capacidad]) VALUES (1, 30, N'0', N'0', CAST(N'2021-03-06' AS Date), 15)
SET IDENTITY_INSERT [dbo].[MemoriaRAM] OFF
GO
USE [master]
GO
